{{#each errors}}
    <div class="alert alert-danger">Error: {{status}} - {{message}}</div>
{{!-- {{else}} --}}
{{/each}}

<div class="card">
    <div class="class-header">
        <h3 class="card-title mt-4">Edit Category</h3>
    </div>
    <div class="card-body">
        <form action="/admin/categories/edit" method="post">
            <input type="hidden" name="id" value="{{category._id}}">
            <label for="name">Name: </label>
                <input type="text" name="name" id="name" placeholder="Categorie name" class="form-control" value="{{category.name}}">
            <label for="slug">Slug: </label>
                <input type="text" name="slug" id="slug" placeholder="Categorie Slug" class="form-control" value="{{category.slug}}"> 
                <br>
            <button type="submit" class="btn btn-success">Edit Category</button>
        </form>
    </div>
</div>