<h2>Posts</h2>
<hr>
<a href="/admin/posts/add"><button class="btn btn-success">New Post</button></a>
{{#each posts}}
    <div class="card mt-4">
        <div class="card-body">
            <h4>{{title}}</h4>
            <hr>
            <p>{{description}}</p>
            <small>Category: {{category.name}}</small><br>
            <small>Creation date: {{date}}</small><br>
            <hr>
            {{!-- <a href="/admin/posts/edit/{{_id}}"><button class="btn btn-success btn-card mt-2">Edit</button></a> --}}
            <form action="/admin/posts/delete" method="post" onsubmit="return confirm('Do you really want to delete this post?');">
                <input type="hidden" name="id" value="{{_id}}">
                <button type="submit" class="btn btn-danger btn-card">Delete</button>
            </form>
        </div>
    </div>
{{else}}
    <p>That is no posts in our database.</p>
{{/each}}